:root {
  --purple: #5a0b4d;
  --milk: #fef;
  --red: #e11845;
  --yellow: #f2ca19;
  --pink: #ff00bd;
  --green: #87e911;
  --black: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: auto;
  background-color: var(--purple);
  color: var(--milk);
}

.title {
  border-right: 2px solid var(--milk);
  padding-right: 1rem;
}

.btn-container {
  border-right: 2px solid var(--milk);
  padding-right: 1rem;
}

.legend {
  display: flex;
  flex-direction: row;
  border-right: 2px solid var(--milk);
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 20px;
}

.legend-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legend-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.legend-box {
  width: 20px;
  height: 20px;
  background: white;
}

.start-node {
  background-color: var(--yellow);
}

.end-node {
  background-color: var(--red);
}

.visited-node {
  background-color: var(--pink);
}

.walls {
  background-color: var(--black);
}

.instructions {
  justify-self: right;
  padding-left: 1rem;
  margin-left: auto;
}

@media (max-width: 1100px) {
  .title {
    border: none;
  }

  .btn-container {
    border: none;
  }

  .instructions {
    display: none;
  }

  .legend {
    display: none;
  }
}
